<!DOCTYPE html>
<html>
<head>
    <title>RFID in Student Attendence</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<style>
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
<body>
  <h2>RFID in Student Attendence</h2>
  <form id="formsignin" role="form" action="/admin/signin" method="POST">
<div class="container">
    <div class="row">
      <h3 style="text-align:center">Login</h3>
      <div class="col"  >
      
          <div id="signupalert" style="<%if (!data || !data.error){%> display: none;
              <%}%>" class="alert alert-danger">
            <p>Error:</p>
            <% if(data && data.error){%>
                <span><%= data.error %></span>
              <%}%>
            </div>
        
        <input type="text" name="username" placeholder="Username" id="username" required>
        <input type="password" name="password" placeholder="Password" id="password"  required>
        <input type = "submit" value = "Submit">
        <p>Already have an account? <a href="signup">Sign up</a>.</p>
      </div>
      
    </div>
  </form>
</div>
</body>

</html>
