body {
  font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
  box-sizing: border-box;
  }
  
  /* style the container */
  .container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
  } 
  
  /* style inputs and link buttons */
  input,
  .btn {
  width: 10%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
  opacity: 1;
  }
  input[type=submit] {
  background-color: rgb(76, 102, 175);
  color: white;
  cursor: pointer;
  }
  
  input[type=submit]:hover {
  background-color: #3b4fc4;
  }
  
  input[type=submit1] {
  background-color:  #3faf31;
  color: white;
  cursor: pointer;
  }
  
  input[type=submit1]:hover {
  background-color: #3faf31;
  }
  
  input[type=text]{
  width: 75%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  }
  
  /* Two-column layout */
  .col {
  float: center;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
  
  }
  
  /* Clear floats after the columns */
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  
  /* vertical line */
  .vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
  }
  
  /* text inside the vertical line */
  .vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
  }
  
  /* hide some text on medium and large screens */
  .hide-md-lg {
  display: none;
  }
  
  /* bottom container */
  .bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
  }