<!DOCTYPE html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <title>RFID in Student Attendence</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css">
 
</head>

<body>
  <div class="container">
    <form action = "/admin/list_student" method = "POST">
          <h2 class="title has-text-centered">
              List Attendence of Students
          </h2>   
          <div class="section columns">
          
              <div class="column is-8 is-offset-2">
                      <input type="text" name="username" placeholder="Search by student name" required> 
                      <input type="submit" value="Search">
                      <input type="submit1" value="Sort">
                    <table class="table is-bordered is-striped is-narrow">
                          <tr>
                                <th>ID.</th>
                                <th>Student ID</th>
                                <th>Student Name</th>
                                <th>Date Attendence</th>
                          </tr>
                      <tbody>
                       
                        <tr>
            
                          <td id='id'>
                              
                          </td>
                          <td id='studentId'>
                              
                          </td>
                          <td id='studentName'>
                              
                          </td>
                          <td id='date'>
                              
                          </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </form>
      </div>
  </body>
 
  <script>
    function createNode(element) {
    return document.createElement(element);
  }
  
  function append(parent, el) {
  return parent.appendChild(el);
  }
  
  const th = document.getElementById('id');
  const th1 = document.getElementById('studentId');
  const th2 = document.getElementById('studentName');
  const th3 = document.getElementById('date');
  const url = 'https://studentattendmanagement.herokuapp.com/attendence';
  fetch(url,{
    method: 'GET',
   
  })
  .then(function(resp){
    return resp.json()
  })
  .then(function(data) {
  let authors = data.studentAttend;
  return authors.map(function(author) {
    let tr = createNode('tr'),
    tr1 = createNode('tr'),
    tr2 = createNode('tr'),
    tr3 = createNode('tr'),
    span = createNode('span'),
    span1 = createNode('span'),
    span2 = createNode('span'),
    span3 = createNode('span');
    
    span.innerHTML = `${author._id}`;
    span1.innerHTML = `${author.studentId}`;
    span2.innerHTML = `${author.studentName}`;
    span3.innerHTML = `${author.attendDate}`;
    append(tr, span);
    append(th, tr);
  
    append(tr1, span1);
    append(th1, tr1);
  
    append(tr2, span2);
    append(th2, tr2);
  
    append(tr2, span2);
    append(th2, tr2);
  
    append(tr3, span3);
    append(th3, tr3);
    
  })
  }).catch(function(error) {
  console.log(JSON.stringify(error));
  });   
 
function sort() {
  url.sort();
}

  </script>


</html>