<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <title>RFID in Student Attendence</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <div class="container">
    <form id="formsignup" role="form" action="/admin/signup" method="POST">
          <h2 class="title has-text-centered">
              List Students
          </h2>   
          <div class="section columns">
          
              <div class="column is-8 is-offset-2">
                      
                    <table class="table is-bordered is-striped is-narrow">
                          <tr>
                                
                                  <th>Student ID</th>
                                <th>Student Name</th>
                                <th>Email</th>
                          <th>Phone</th>
                          <th>Create date</th>
                          </tr>
                      <tbody>
                       <tr>
                        <td id='studentId'>
                              
                          </td>
                          <td id='studentName'>
                              
                          </td>
                          <td id='email'>
                              
                          </td>
						              <td id='phone'>
                              
                          </td>
						              <td id='createdate'>
                              
                          </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </form>
      </div>
 
    </body>
  <script>
    function createNode(element) {
    return document.createElement(element);
  }
  function append(parent, el) {
  return parent.appendChild(el);
  }
  const th1 = document.getElementById('studentId');
  const th2 = document.getElementById('studentName');
  const th3 = document.getElementById('email');
  const th4 = document.getElementById('phone');
  const th5 = document.getElementById('createdate');
  const url = 'https://studentattendmanagement.herokuapp.com/student';
  fetch(url,{
    method: 'GET',
   
  })
  .then(function(resp){
    return resp.json();
  })
  .then(function(data) {
   let authors = data;
  return authors.map(function(authors) {
    let tr = createNode('tr'),
    tr1 = createNode('tr'),
    tr2 = createNode('tr'),
    tr3 = createNode('tr'),
    tr4 = createNode('tr'),
    tr5 = createNode('tr'),
    span = createNode('span'),
    span1 = createNode('span'),
    span2 = createNode('span'),
    span3 = createNode('span'),
    span4 = createNode('span'),
    span5 = createNode('span');
   
    span1.innerHTML = `${authors.studentId}`;
    span2.innerHTML = `${authors.studentName}`;
    span3.innerHTML = `${authors.email}`;
    span4.innerHTML = `${authors.phone}`;
    span5.innerHTML = `${authors.createdDate}`;
    
  
    append(tr1, span1);
    append(th1, tr1);

    append(tr2, span2);
    append(th2, tr2);
  
    append(tr3, span3);
    append(th3, tr3);
  
    append(tr4, span4);
    append(th4, tr4);
  
    append(tr5, span5);
    append(th5, tr5);
    
	})
  }).catch(err => {console.log(err);}); 
  
  </script>

</html>